<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Daily Expense</title>
        <link rel="shortcut icon" href="/static/images/delogo.ico" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            .footer {
               position: fixed;
               left: 0;
               bottom: 0;
               width: 100%;
               background-color: grey;
               color: white;
               text-align: center;
            }

        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Daily Expense</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/get_signup"><span class="glyphicon glyphicon-user"></span> SignUp</a></li>
                    <li><a href="/get_login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h1>Description</h1>
            <hr>
            <h2>Daily Expense</h2>
            <marquee onMouseOver="this.stop();" onMouseOut="this.start();" scrollamount="7" direction="up" >
                <ul>
                    <li><p>Organizing your expenses allow you to have a better control over your money.</p></li>
                    <li><p>Daily Expenses is designed for to organize your income and expenses.</p></li>
                    <li><p>Available reports: daily, weekly, biweekly, monthly and yearly.</p></li>
                    <li><p>you can review the reports daily, weekly, monthly or yearly.</p></li>
                    <li><p>Track your income and expenses , classify them by category.</p></li>
                    <li><p>You can modify or delete the records that you have created.</p></li>
                    <li><p>Track your income and expenses by Daily Expense.</p></li>
                    <li><p>Your movements of money are recorded by date.</p></li>
                    <li><p>Horizontal screen for tablets.</p></li>
                    <li><p>Create graphical reports.</p></li>
                </ul>
            </marquee>
        </div>
        <div class="footer">
             <p>© 2018 Copyright By --Daily Expense System--</p>
        </div>
    </body>
</html>


